chainlit
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-ollama
kiwipiepy
faiss-cpu
pymysql
pandas==2.3.3
pypdf
pillow
pillow-heif
python-magic
opendataloader-pdf
python-dotenv
openpyxl
torch
tiktoken
sentence-transformers
xlrd
